body {
  margin: 0;
  background-color: #000;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.topics-archive {
  display: grid;
}

.topics-archive .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px red;
}

.topics-archive .section .image {
  --padding: 50px;
  padding: var(--padding);
  padding-left: 0;
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  box-shadow: inset 0 0 0 1px green;
}

.topics-archive .section img {
  width: 100%;
  height: calc(100vh - var(--padding) * 2);
  object-fit: cover;
}

.card-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  /* background-color: var(--color); */
  /* border-radius: 8px; */
  max-width: 70%;
  opacity: 0;
  z-index: 6;
  font-size: 20px;
  margin-right: -80px;
  color: white;
}

.card__inner {
  padding: 30px 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.card .title {
  font-size: 60px;
}

.pixels {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pixel {
  --width: 100px;
  --height: 100px;
  --scaleX: 1;
  --scaleY: 1;
  position: absolute;
  top: var(--yPos);
  left: var(--xPos);
  width: var(--width);
  height: var(--height);
  transform: scale(var(--scaleX), var(--scaleY));
  background-color: var(--color);
  /* border-radius: 8px; */
}

.pixel .title {
  position: absolute;
  top: -20%;
  left: -10%;
  width: calc(var(--width));
  height: auto;
  z-index: 10;
}

.pixel .title svg {
  width: 100%;
  height: auto;
}
